.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
}

.logo h1 {
  margin: 0;
  font-size: 1.5em;
}

.navLinks {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.navLinks.open {
  transform: translateX(0);
}

.navLinks a {
  margin-right: 1em;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.navLinks a:hover {
  color: #ddd;
}

.navLinks button {
  padding: 10px 20px;
  margin-left: 1em;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navLinks button:hover {
  background-color: #555;
}

.burgerButton {
  display: none;
  font-size: 2em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .burgerButton {
    display: inline;
  }

  .navLinks {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0;
    background-color: #333;
    flex-direction: column;
    padding: 2em;
    width: 50vw;
    transform: translateX(100%);
  }

  .navLinks a {
    margin: 1em 0; /* Added more space between the links */
  }

  .navLinks.open {
    transform: translateX(0);
  }

  .navLinks.hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .navLinks {
    position: relative;
    height: auto;
    flex-direction: row;
    width: auto;
    background-color: transparent;
    transform: none !important;
  }
}

